*:focus {outline:none !important}

.outerContainer{
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;

}
.appHeader{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: default;
}
.centerText{
    text-align: center;
}


.newSongForm{
    width: 75%;
    margin: 1%  auto;
}



.topNavBar{
    width: 50%;
    min-width: 60vh;
    margin: 2% auto;
    display: flex;
    justify-content: space-evenly;

}

.dropdown{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}



.chordsBlock{
    height: 34px;
    background-color: lightgrey;
    width: 90%;
    border: darkgrey thin solid;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.removeBlockButton{
    background: none;
    color: black;
    border: white thin solid;
    outline: none;
    cursor: pointer;

}
.removeBlockButton:hover{
    background: none;
    color: red;
    border: red thin dashed;
    outline: none;
    cursor: pointer;
}

.toolsBar{
    margin: auto auto;
    width: 90%;
    height: 60px;
    margin-top: 3.5%;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8em;
}

.blackDividerLine{
    width: 100%;
    height: 2px;
    background-color:  rgb(79, 91, 103);
    margin-bottom: 2.5%;
}
.chordInputContainer{
    height: 90%;
    width: 14%;
    min-width: 70px;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
}
.chordsSelector{
    border: black thin solid;
    width: 90%;
    height: 80%;
    color: rgb(21, 21, 80);
    font-weight: 500;
    margin: auto 0;
    font-size: 0.8em;
    border-radius: 7px;
}

.saveLoadBtn{
    height: 100%;
    width: 8%;
    color: rgb(63, 62, 62);
    font-weight: 300;
    cursor: pointer;
    outline: none;
    padding: 2%;
    font-size: 0.7em;
    border: none;
    margin: auto 0;
    
}

.saveLoadBtn:hover{
    height: 100%;
    width: 8%;
    color: rgb(63, 62, 62);
    border: thin solid rgb(63, 62, 62);
    font-weight: 700;
    cursor: pointer;
    outline: none;
    padding: 2%;
    font-size: 0.7em;
    border: none;
    margin: auto 0;
}

.lyric_block{
    display: flex;
    flex-direction: row;
}

.lyric_input{
    margin-left: 1%;
    border: none;
    width: 90%;
}

.title_input{
    width: 100%;
    border: none;
}

.addLineButton{
    background: none;
    border: none;
    color: white;
    font-size: 1.35em;
    outline: none;
    cursor: pointer;
}

.addLineButton:hover{
    background: none;
    border: none;
    color: rgb(37, 154, 37);
    font-size: 1.35em;

    cursor: pointer;
}

.autoScrollImg{
    height: 70%;
    cursor: all-scroll;
    outline: none;
    margin: auto 0.5%;
}

#eraserButton{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

#eraserButton{
    margin-left: 1.5%;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-weight: 500;
}

.newChord{
    position: absolute;
    z-index: 12;
    border: thin solid black;
    background: white;
    border-radius: 15%;
    height: 5%;
    width: auto;
    padding: 0.2%;
    margin: 0 0.1%;
    cursor: pointer;
    outline: none;

}

.menuOfSongs{
    width: 26%;
    min-width: 44vh;
    border: thin rgb(7, 7, 30) solid;
    border-radius: 10%;
    height: 62vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    padding-top: 1.5%;
    color: black;
}

.darkBlueFont{
    color: rgb(96, 180, 235);
    font-size: 1.1em;
}
.darkBlueFont:hover{
    color: rgb(80, 221, 219);
    text-decoration: none;

}
.inMenuHeading{
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 1.05em;
    font-weight: 600;
    text-decoration: underline;
    cursor: default;
}

.loadingOption{
    color: black;
    font-size: 0.9em;
    margin: 0.4vh 0;
    height: 2em;
}

.loadingOption:hover{
    color: rgb(56, 218, 24);
    font-weight: 300;
    font-size: 0.9em;
    margin: 0.4vh 0;
    height: 2em;
    text-decoration: none;
}

.material-icons{
    font-size: 1.5em;
}

.playableChordsSelector{
    font-size: 0.7em;
    width: 32%;
    margin: auto 0.5%;
    display: flex;
    flex-direction: column;

}

.playableChordBtn{
    width: 100%;
    margin: auto 1%;
    font-size: 0.6em;

}

.playableChordLabel{
    font-size: 0.5em;
    width: 68%;
    margin: auto 0;
}

.pointerContainer{
    color: rgb(232, 121, 232);

}
.visibleClass{
    visibility: visible;
    opacity: 1;
    color: rgb(232, 121, 232);
}

.invisibleClass{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.7s, linear;
}

.flexDir{
    display: flex;
    flex-direction: row;
}
.currentChordContainer{
    margin: 0;
}

.currentChordContainer p{
    margin: 0;
    font-size: 0.4em;
}

.currentChordBox{
    font-size: 0.7em;
    width: 100%;
    height: 70%;
    background-color: aliceblue;
    margin: 0 auto;
    border: black 1px solid;
    text-align: center;
    padding-top: 10%; 
}