{% load staticfiles %}
<HTML>

<head>
    <meta charset="utf-8" />
    {% if title %}
        <title>song-editor : {{ title }}</title>
    {% else %}
        <title>song-editor-home</title>
    {% endif %}
    <!-- cdn links -->
    <!--<script src="https://fb.me/react-0.14.0.js"></script>-->
    <!--<script src="https://fb.me/react-dom-0.14.0.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.25/browser.min.js"></script>-->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- css file -->
    <!--<link rel="stylesheet" href="./style.css">-->
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Base Template Style Sheet -->
    <link href="{% static './css/base.css'%}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="outerContainer">
        <h1>Chords & Lyrics</h1>
        <nav class="topNavBar">
            <button class="navBarBtn">Home</button>
            <button class="navBarBtn">About</button>
            <button class="navBarBtn">Register</button>
            <button class="navBarBtn">Login</button>
            <button class="navBarBtn" >Logout</button>
        </nav>
        <div class="container">
           {% block content %}{% endblock %}
        </div>
    </div>

    
    <!-- jquery file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- js file -->
    <!--<script type="text/babel" src="./logic.js"></script>-->
    <script src="{% static './js/base.js'%}"></script>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</HTML>